/* logo of website*/
.logo{
    position:fixed;
    bottom:0px;
    right:0px;
    z-index: 99;
    height:10%
}
/*bmi calculator */
.button_num{
width: 100%;
border: none;
text-align: center;
font-size: 2em;
font-weight: bold;
border-radius: 10px;
background-color: red;
}
.textarea{
    width: 100%;
    font-size: 1em;
    border-radius: 10px;
    border:0px solid black;
    background-color: white;
}
.div1{
    position:relative;
    text-align: center;
    top: 50%;
    left:50%;
    bottom:50%;
    right:50%;
    height:20%;
}
/* Header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

